/* google font import */
@import url("https://fonts.googleapis.com/css2?family=Lobster&family=Montserrat:ital,wght@0,100;0,200;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,600&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

body {
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
}

/* <<<<<----header section Start------->>>> */
header {
  padding: 30px;
  margin-bottom: 100px;
}
.header-box {
  display: flex;
  width: 70%;

  margin: auto;
  background-color: #002244;
  background-image: linear-gradient(#002244, #3496f86b);
  border-radius: 30px;
  padding-bottom: 30px;
}

.header-details {
  padding-top: 50px;
  width: 35%;
  margin-right: 10%;

  padding-left: 5%;
}

.header-details h1 {
  font-size: 2.6rem;
  color: rgb(252, 252, 252);
  text-transform: capitalize;
}

.header-details p {
  font-size: 0.9rem;
  color: #fff;
  margin-bottom: 80px;
}

.btn {
  background-color: #b31616;
  border-style: none;
  padding: 12px 8%;
  border-radius: 5px;
  color: #fff;
  font-size: 1.1rem;
  cursor: pointer;
}

.fa-futbol {
  margin-left: 5px;
}

.btn a {
  color: #fff;
  text-decoration: none;
}

.btn:hover {
  transform: scale(1.2);
  transition: transform 0.3s ease-in-out;
  background-color: #fff;
  color: #002244;
}
.header-image {
  width: 50%;
  position: relative;
}

.header-image img {
  width: 100%;
}

/* ----header section Finish------- */

/* ////----Media Query For Header part------//// */

/* ----MOBILE------ */
@media screen and (max-width: 576px) {
  header {
    padding: 10px;
    margin-bottom: 30px;
  }
  .header-box {
    flex-direction: column;
    width: 100%;
    padding-bottom: 10px;
    align-items: center;
    padding-top: 0;
  }

  .header-details {
    width: 85%;
    text-align: center;
    padding-top: 0;
    margin: 0;
    margin-bottom: 20px;
    padding: 0;
  }

  .header-details h1 {
    font-size: 1.3rem;
    color: rgb(252, 252, 252);
    text-transform: capitalize;
  }
  .header-details p {
    font-size: 0.7rem;
    color: #fff;
    margin-bottom: 30px;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 260px;
  }

  .header-image {
    width: 100%;
  }
}

/* ----TABLET------ */
@media screen and (min-width: 577px) and (max-width: 992px) {
  header {
    padding: 30px;
    margin-bottom: 50px;
  }
  .header-box {
    width: 95%;
    padding-bottom: 40px;
  }
  .header-details {
    width: 50%;
    padding-top: 0;
  }

  .header-details h1 {
    font-size: 2.2rem;
    color: rgb(252, 252, 252);
  }

  .header-details h1 {
    font-size: 2rem;
    color: rgb(252, 252, 252);
    text-transform: capitalize;
  }

  .header-details p {
    font-size: 0.9rem;
    color: #fff;
    margin-bottom: 30px;
  }

  .header-image {
    padding-top: 30px;
  }
}

/* ----Extra-large Device------ */
@media screen and (min-width: 993px) and (max-width: 1200px) {
  header {
    margin-bottom: 40px;
  }
  .header-box {
    width: 100%;
  }
}

/* <<<<<----Blog section Start------->>>> */

.blog {
  margin-bottom: 120px;
}
.article {
  width: 68%;
  margin: auto;
  display: flex;
}
.sidebar {
  display: flex;
  flex-direction: column;
  background: #0d3a66;
  width: 300px;
  height: 290px;
  padding: 0 40px 0 40px;
  border-radius: 10px;
  margin-right: 20px;
  justify-content: center;
}
.sidebar a {
  text-decoration: none;
  padding: 15px 20px;
  background-color: #ffffff;
  margin-bottom: 30px;
  text-align: center;
  font-size: 16px;
  font-weight: 600;
  color: #002244;
  border-radius: 10px;
}

.sidebar a:nth-child(3) {
  background-color: #b31616;
  color: #fff;
  margin-bottom: 0;
}

.blogs {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}
.blog-info {
  border: 1px solid rgba(7, 7, 7, 0.137);
  border-radius: 10px;
  width: 100%;
}

.blog-info .cover-image {
  width: 100%;
  padding-bottom: 10px;
}

.blog-text {
  padding-left: 20px;
  padding-bottom: 15px;
}

.blog-text a {
  text-decoration: none;
  padding: 5px 15px;
  border: 1px solid black;
  border-radius: 5px;
  color: #161616;
}

.blog-text p {
  font-size: 18px;
  font-weight: 500;
}

.blog-info-icon {
  display: flex;
}

.icon-flex {
  display: flex;
  align-items: center;
  margin-right: 30px;
}

.icon-flex img {
  margin-right: 10px;
}

.icon-flex span {
  color: #838383;
}

.view-all {
  display: none;
}

/* ////----Media Query For Blog part------//// */

/* ----Extra-large Device------ */
@media screen and (min-width: 993px) and (max-width: 1200px) {
  .blog {
    margin-bottom: 70px;
  }

  .article {
    width: 90%;
    margin: auto;
  }
}

/* ----TABLET------ */
@media screen and (min-width: 577px) and (max-width: 992px) {
  .blog {
    padding-bottom: 30px;
  }
  .article {
    width: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
  }

  .sidebar {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    flex-direction: ;
    gap: 30px;
    background: none;
    padding: 0 40px 0 40px;
    height: auto;
    width: 90%;
    padding: 0 5%;
    align-content: center;
    align-items: baseline;
    margin-bottom: 30px;
  }

  .sidebar a {
    text-decoration: none;
    background-color: #ffffff;
    border: 1px solid rgba(0, 0, 0, 0.212);
    text-align: center;
    font-size: 16px;
    font-weight: 600;
    color: #002244;
    border-radius: 10px;
    margin-bottom: 0;
  }

  .blogs {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    width: 90%;
    padding: 0 5%;
    justify-items: end;
  }

  .view-all {
    position: absolute;
    bottom: -100px;
    right: 40%;
    margin-bottom: 20px;
    display: block;
  }
  .view-all a {
    background-color: #b31616;
    padding: 15px 40px;
    text-decoration: none;
    color: #fff;
    border-radius: 5px;
    font-size: 20px;
  }

  .blog-info {
    width: 100%;
  }

  .blog-info:nth-child(7),
  .blog-info:nth-child(8),
  .blog-info:nth-child(9) {
    display: none;
  }

  .blog-text p {
    font-size: 18px;
  }
}

/* ----MOBILE------ */
@media screen and (max-width: 576px) {
  .blog {
    margin-bottom: 50px;
  }
  .article {
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  .sidebar {
    display: grid;
    grid-template-row: repeat(3, 1fr);
    flex-direction: ;
    gap: 30px;
    background: none;
    padding: 0 40px 0 40px;
    height: auto;
    width: 90%;
    padding: 0 5%;
    align-content: center;
    align-items: baseline;
    margin-bottom: 30px;
  }

  .sidebar a {
    text-decoration: none;
    background-color: #ffffff;
    border: 1px solid rgba(0, 0, 0, 0.212);
    text-align: center;
    font-size: 16px;
    font-weight: 600;
    color: #002244;
    border-radius: 10px;
    margin-bottom: 0;
  }

  .blogs {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;
    width: 90%;
    padding: 0 5%;
  }

  .blog-info {
    width: 100%;
  }
  .blog-text p {
    font-size: 18px;
  }

  .view-all {
    display: none;
  }
}

/* <<<<<----Footer Start------->>>> */

.footer {
  background-color: #002244;
}

.footer-container {
  width: 90%;
  margin: auto;
  padding-top: 70px;
  padding-bottom: 30px;
}

.footer-text {
  margin-bottom: 10px;
}

.footer-text h1 {
  font-size: 35px;
  color: #fff;
  text-align: center;
}

.footer-container hr {
  border: 1px solid rgba(255, 255, 255, 0.185);
}

.footer-menu {
  padding: 30px 0;
}

.footer-menu nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-menu nav ul li {
  list-style: none;
  margin-right: 40px;
}

.footer-menu nav ul a {
  text-decoration: none;
  color: #ffffff;
  font-weight: 500;
}

.footer-icon {
  text-align: center;
  padding-top: 20px;
}

.footer-icon .fa-brands {
  margin-right: 30px;
  font-size: 20px;
  color: #fff;
}

/* ----TABLET------ */
@media screen and (min-width: 577px) and (max-width: 992px) {
  .footer-container {
    width: 99%%;
  }

  .footer-menu nav ul {
    flex-wrap: wrap;
  }
  .footer-menu nav ul li {
    list-style: none;
    margin-right: 20px;
  }

  .footer-menu nav ul a {
    font-size: 15px;
  }
}

/* ----MOBILE------ */
@media screen and (max-width: 576px) {
  .footer-container {
    width: 95%;
  }

  .footer-icon {
    padding-left: 30px;
  }
  .footer-menu nav ul {
    flex-direction: column;
  }
  .footer-menu nav ul li {
    margin-bottom: 20px;
  }
}
